/* Arquivo CSS da aula de Desenvolvimento para Internet - Unipar 2025 */
/* Reset CSS: Importante para zerar todos os estilos já aplicados */

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* Variáveis */
/* Posso salvar nas variáveis, configurações que podem ser usadas globalmente no CSS. */

:root {
    --primary-color: purple;
    --font-size:15px;
    
}

/* Componentes */
/* O que são componentes: Botões, Formulários, Input's, Select's, etc... */

button{
    background-color: var(--primary-color); /* Usando variáveis */
    font-size: var(--font-size); /* Variáveis */
    color: aliceblue;
    padding: 2%;
    height: 10%;
    width: 50%;
    min-height: 100px;
    max-height: 500px;
}
